.main__acties{
    background-image: url('/img/front.png');
    background-position: 0 -100px;
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 80vh;
}
.acties__filter{
    width: 100%;
    height: 80vh;
    background-color: rgba(0, 0, 0, .3);
}
.filter__content{
    width: 500px;
    height: 350px;
    background-color: rgba(221, 0, 116, .49);
    display: block;
    position: absolute;
    bottom: 0;
    margin: 0 0 80px 2.5%;
}
.content__title{
    font-size: 42px;
    margin: 1em 0 .8em 90px;
    color: #fff;
}
.content__text{
    color: #fff;
    margin: 0 90px 54px 90px;
    line-height: 1.5em;
}
.content__readmore{
    margin-left: 90px;
}
.main__maw{
    height: 80vh;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.maw__wrap{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
}
.wrap__logo{
    width: 80%;
    height: auto;
    margin-top: 3em;
}
.wrap__video{
    width: 85%;
    height: 350px;
    margin-bottom: 3em;
}
.wrap__article-maw{
    width: 65%;
    margin: 0 auto;
}
.article-maw__title{
    color: #043FA8;
    font-size: 42px;
}
.article-maw__text{
    line-height: 1.2em;
    padding-bottom: 42px;
}
.article-maw__hr{
    border: 1px solid #043FA8;
    width: 100%;
    margin: 30px 0;
}

.centerwrap{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main__game{
    background-image: url('/img/photography-of-a-woman-wearing-virtual-reality-headset-911682.jpg');
    background-position: 0 -70px;
    -webkit-background-size: 100%;
    background-size: 125%;
    background-position: 50% 50%;
    height: 100vh;
}
.game__filter{
    width: 100%;
    height: 100vh;
    background-color: rgba(221, 0, 116, .24);
}
.filter__article{
    width: 500px;
    height: 350px;
    background-color: rgba(0, 0, 0, .49);
    display: block;
    position: absolute;
    right: 0;
    margin: 80px 2.5% 0 0;
}
.article__title{
    font-size: 42px;
    margin: 1em 90px .5em 90px;
    color: #fff;
}
.article__text{
    color: #fff;
    margin: 0 90px 0px 90px;
    line-height: 1.5em;
    padding-bottom: 42px;
}
.article__readmore{
    margin-left: 90px;
}
.main__reportages{
    height: 80vh;
    display: flex;
}
.reportages__article-repo{
    width: 50%;
    margin: auto 7.5%;
}
.article-repo__title{
    font-size: 42px;
    margin: 30px 0;
}
.article-repo__text{
    max-width: 500px;
    line-height: 1.5em;
    margin-bottom: 42px;
}
.article-repo__readmore{
    margin-left: auto;
}
.reportage__wrap{
    width: 50%;
    margin: auto 7.5% auto 0;
}
.slideshow-container{
    height: 100%;
}

.main__livestream{
    background-image: url('/img/crowd-of-people-enjoying-on-concert-3052360.jpg');
    background-size: 100%;
    background-position: 0 -100px;
    height: 80vh;
    width: 100%;
}
.livestream__filter{
    background-color: rgba(221, 0, 116, .20);
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.filter__video{
    width: 800px;
    height: 400px;
    margin: auto 0 auto 7.5%;
}
.filter__article-live{
    background-color: rgba(221, 0, 116, .62);
    width: 500px;
    height: 250px;
    display: block;
    right: 0;
    margin: auto 7.5% auto 0;
}
.article-live__title{
    font-size: 38px;
    color: #fff;
    margin: 1.5em 0 30px 40px;
}
.article-live__text{
    margin: 0 40px 40px 40px;
    color: #fff;
    line-height: 1.5em;
}
.main__commercial{
    height: 80vh;
    display: flex;
    flex-direction: row;
}
.article-commercial__wrapper{
    width: 100%;
}
.commercial__article-commercial{
    width: 50%;
    margin: auto 7.5%;
}
.wrapper__title{
    font-size: 38px;
    margin-bottom: .7em;
}
.wrapper__text{
    line-height: 1.5em;
    font-size: 20px;
}
.commercial__video{
    width: 800px;
    height: 400px;
    margin: auto 7.5% auto 0;
}

@media screen and (max-width: 1100px) {
    .main__acties{
        background-image: url('/img/front.png');
        background-position: 50% 100%;
        background-size: 120% auto;
        height: 85vh;
    }
    .main__game{
        background-size: 155%;
        background-repeat: no-repeat;
    }
    .wrap__logo, .wrap__video{
        width: 100%;
    }
    .main__commercial {
        flex-direction: column;
        height: 70vh;
    }
    .commercial__article-commercial {
        width: 85%;
    }
    .commercial__video{
        width: 85%;
        height: 300px;
        margin: auto 7.5% auto  7.5%;
    }

}
@media screen and (max-width: 870px) {
    .main__acties {
        background-size: 140% auto;
    }
    .main__game{
        background-size: 175%;
    }
    .wrap__article-maw{
        width: 80%;
    }
}
@media screen and (max-width: 750px){
    .main__acties{
        background-size: 160% auto;
    }
    .main__game{
        background-size: 200%;
        height: 70vh
    }
    .game__filter{
        height: 70vh
    }
    .filter__article{
        width: 100%;
        height: 30vh;
        background-color: rgba(0, 0, 0, .49);
        position: absolute;
        flex-direction:  column;
        margin: 40vh 0 0 0;
    }
    .article__title, .article__text, .article__readmore{
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
    .content__text{
        margin: 0 90px 30px 90px;
    }
    .filter__content{
        width: 100%;
        height: 300px;
        background-color: rgba(221, 0, 116, .49);
        bottom: 0;
        margin: 0;
    }
    .main__maw{
        flex-direction: column;
        height: 110vh;
    }
    .maw__wrap{
        width: 100%;
    }
    .wrap__logo{
        margin: 3em auto;
    }
    .wrap__video{
        margin: 0 auto 3em auto;
    }
    .wrap__article-maw{
        width: 100%;
    }
    .main__reportages{
        flex-direction: column;
    }
    .reportages__article-repo{
        width: 85%;
        margin: auto;
    }
    .reportage__wrap{
        width: 85%;
        margin: 2em auto 2em auto;
    }
    .commercial__video{
        width: 85%;
        margin: auto;
    }
}
@media screen and (max-width: 650px){
    .main__acties{
        background-size: 180% auto;
    }
}
@media screen and (max-width: 580px){
    .main__acties{
        background-size: 220% auto;
    }
    .content__title{
        margin: 1em 7.5% .8em 7.5%;
    }
    .content__text{
        margin: 0 7.5% 30px 7.5%;
    }
    .wrap__video{
     height: 200px
    }
    .main__game{
        background-size: 200%;
        height: 70vh;
    }
    .game__filter{
        height: 70vh
    }
    .filter__article{
        margin-top: 30vh;
        height: 40vh;
    }
    .content__readmore {
        margin-left: 7.5%;
    }
    .article__text{
        padding-bottom: 25px;
    }
    .commercial__video{
        height: 250px;
    }
}
@media screen and (max-width: 475px){
    .main__acties{
        background-size: 250% auto;
    }
    .main__game{
        background-size: 235%;
    }
}
@media screen and (max-height: 668px){
    .main__maw {
        height: 140vh;
    }
    .main__game {
        background-size: 200%;
        height: 80vh;
    }
    .game__filter{
        height: 80vh;
    }
    .filter__article {
        height: 50vh;
    }
    .main__reportages {
        height: 100vh;
    }
    .main__commercial{
        height: 90vh;
    }
}